LAVA_DB_PASSWORD="{{ POSTGRES_PASSWORD }}"
LAVA_SYS_USER="{{ POSTGRES_USER }}"
LAVA_DB_NAME="lavaserver"
LAVA_INSTANCE="default"
LAVA_DB_USER="{{ POSTGRES_USER }}"
LAVA_DB_PORT="5432"
LAVA_DB_SERVER="{{ LAVA_SERVER_DB_HOSTNAME }}"
