{
    "STATIC_URL": "/static/",
    "MOUNT_POINT": "/",
    "EVENT_NOTIFICATION": true,
    "EVENT_TOPIC": "localhost.lava",
    "ALLOWED_HOSTS": ["{{ LAVA_SERVER_DNS_HOSTNAME }}", "127.0.0.1", "localhost"],
    "CSRF_TRUSTED_ORIGINS": [],
    "SESSION_COOKIE_SECURE": false,
    "CSRF_COOKIE_SECURE": false
}
